/******************/
/******header******/
/******************/
#header{
    height: 70px;
}

#header a{
    background-color: #f8f9fa;
    color: #5b5858;
}

.input-group-text,
#header input{
    background-color: #e5e5e5;
}

#logo-small{
    width: 40px;
    aspect-ratio: 1;
}

/******************/
/*******main*******/
/******************/
main{
    height: calc(100vh - 70px);
    width: 100%;
    font-size: 0.8rem;
}

/* sidebar */
#sidebar{
    height: 100%;
    flex-basis: 100px;
    background-color: #051e34;
    background-image: url('../img/sidebar-bg.png');
    font-size: 0.8rem;
}

#sidebar div ul li:hover,
#sidebar #admin:hover{
    background-color: rgba(202, 202, 202, 0.484);
}

/* dashboard */
#dashboard{
    overflow: auto;
    flex-basis: calc(100% - 100px);
}

/* dashboard-top */
#dashboard-top{
    background-color: #1b73e8;
}

#society-name{
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.rounded-pill{
    background-color:#0d3c7973;
}

.rounded-pill:hover{
    background-color:#0d3c79f9;
}

#dashboard-top button{
    padding: 0.2rem 0.6rem;
}

.offcanvas{
    width: 40% !important;
}

/* dashboard-bottom */
#dashboard-bottom #prossime-classi button{
    padding: 0.1rem 0.5rem;
}

#dashboard-bottom .fa-pencil,
#dashboard-bottom .fa-trash{
    font-size: 0.8rem;
}

/******************/
/***media-query****/
/******************/
@media only screen and (max-width: 768px){
    #sidebar{
        flex-basis: 50px;
    }

    #dashboard{
        flex-basis: calc(100% - 50px);
    }

    .offcanvas{
        width: 100% !important;
    }
}
